{% extends 'base.html' %}

{% block content %}
<h1 class="text-4xl font-poppins">Product List</h1>
<ul>
    {% for product in products %}
    <li>
        <a href="{% url 'product_detail' product.id %}">
            {{ product.name }} - ${{ product.price }}
        </a>
        <p>Average Rating: {{ product.average_rating|floatformat:1 }}</p>
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
        {% endif %}
    </li>
    {% empty %}
    <li>No products available.</li>
    {% endfor %}
</ul>
{% endblock %}